@tailwind base;
@tailwind components;
@tailwind utilities;

[data-marked="correctPosition"] {
  background: lightgreen;
}

[data-marked="inWord"] {
  background: lightblue;
}

[data-marked="notInWord"] {
  background: lightgray;
}

[data-iswon=true] > * {
  background: lightgreen;
}